<div id="content" class="container drag-drop" style="min-height: 70vh;">
	<div class="container d-flex">
		<div id="file-dropzone" class="dropzone col-6">
				Drop files here
		</div>
		<div id="folder-dropzone" class="dropzone col-6">
				Drop folders here
		</div>
	</div>

	<div id="selected-files"></div>
	<form id="file-form" enctype="multipart/form-data" hx-post="/upload" hx-swap="innerHTML" hx-target="#selected-files">
			<input type="file" name="file" id="file-input" multiple style="display:none;">
			<input type="file" name="file" id="folder-input" multiple webkitdirectory style="display:none;">
			<button type="submit" name="current" value="{{current}}">Upload</button>
	</form>

	<div>
		<p> 
			<a hx-target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/components/myFiles?current=">My Files</a> 
			{% for folder,path in pathDict.items() %}
				/ <a hx-target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/components/myFiles?current={{path}}">{{folder}}</a> 
			{% endfor %}
		</p>
	</div>
	<div class="container">
		{% for key,value in data.items() %}
			<div class="d-flex align-items-center">
				{% if value is none %}
				<a href="/download/{{key}}?current={{current}}" target="_blank" class="me-2">{{key}}</a>
				<i class="fas fa-trash-alt delete-icon" hx-get="/delete/{{key}}?current={{current}}" hx-trigger="click" hx-swap="innerHTML" hx-target="#selected-files"></i>
				{% else %}
				<div hx-target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/components/myFiles?current={{current}}&next={{key}}" class="me-2">{{key}}</div>
				{% endif %}
		</div>
		{% endfor %}
	</div>
	<script src="/static/js/upload.js"></script>
</div>