<div id="content">
	<div> 
		<p> 
			<a target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/publicFiles?current=">Public Files</a> 
			{% for folder,path in pathDict.items() %}
				/ <a target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/publicFiles?current={{path}}">{{folder}}</a> 
			{% endfor %}
		</p>
	</div>
	<div class="container">
		{% for key,value in data.items() %}
			<div class="row">
				{% if value is none %}
				<a href="/downloadPublic/{{key}}?current={{current}}">{{key}}</a>
				{% else %}
				<div target="#content" hx-swap="outerHTML" hx-trigger="click" hx-get="/publicFiles?current={{current}}&next={{key}}">{{key}}</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>